<div class="container">
  <p>Registration Details</p>
  <div class="formbody">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div>
          <input type="text" formControlName="firstName" placeholder="First Name"
            [ngClass]="{ 'is-valid': submitted && form.firstName.errors }">
          <div *ngIf="submitted && form.firstName.errors">
            <div *ngIf="form.firstName.errors.required">First Name is required</div>
          </div>
        </div>

        <div>
          <input type="text" formControlName="lastName" placeholder="Last Name"
            [ngClass]="{'is-valid': submitted && form.lastName.errors}">
          <div *ngIf="submitted && form.lastName.errors">
            <div *ngIf="form.lastName.errors.required">Last Name is required</div>
          </div>
        </div>

        <div>
          <input type="text" formControlName="email" placeholder="Email Address"
            [ngClass]="{'is-valid': submitted && form.email.errors}">
          <div *ngIf="submitted && form.email.errors">
            <div *ngIf="form.email.errors.email">Email must be valid email address</div>
            <div *ngIf="form.email.errors.required">Email Address is required</div>
          </div>
        </div>


        <div>
          <input type="text" formControlName="password" placeholder="Password"
            [ngClass]="{'is-valid': submitted && form.password.errors}">
          <div *ngIf="submitted && form.password.errors">
            <div *ngIf="form.password.errors.minlength">Password must be atleast 6 characters</div>
            <div *ngIf="form.password.errors.required">Password is required</div>
          </div>
        </div>
      </div>

      <div class="subbtn">
        <button class="regsiter btn ">Register</button>
        <button class="reset btn" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
